<header>
<p aria-hidden="true" id="feed-top"> </p>
    <div class="container">
        <h1>JokeR Feeds</h1>
        <nav>
            <ul class="nav-list">
                <li><a class="nav-item" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}"><mat-icon>explore</mat-icon></a></li>
                <li><a class="nav-item" routerLinkActive="active" routerLink="home"><mat-icon>home</mat-icon></a></li>
                <li><a class="nav-item" routerLinkActive="active" routerLink="/more"><mat-icon>more</mat-icon></a></li>
            </ul>
        </nav>
    </div>
</header>