body{
    margin: 0 auto;
    padding: 0;
    background: #f4f4f4;

}

a {
    text-decoration: none;
}

header{
    background-color: rgba(255, 12, 4, 0.842);
    color: white;
}

header h2{
    margin-top: 0%;

}

.container{
    margin: auto;
    padding: 0px 30px;
    overflow: hidden;
}

#my-name{
    float: left;
    padding-top: 20px;
    margin-left: 10%;
    font-size: 20px;
}

.navbar{
    float: right;
    margin-right: 15%;
}

.navbar li{
    list-style-type: none;
    float: left;
    padding: 10px;
    font-size: 20px;
}

.navbar li a{
    color: white;
    transition-duration: 2s, 1s, 1s;
    transition-property: color, transform, background, border-radius;
    transition-timing-function: ease-in;

}

.navbar li a:hover{
    color: white;
    background-color: black;
    border-radius: 10%;
    padding: 10px;
}



section {

}


/* animations */
