<div class="game-keyboard" (click)="onKeyClick($event)">
    <div class="game-keyboard-row">
       <div tabindex="-1" [class]="getClassName('q')">q</div>
       <div tabindex="-1" [class]="getClassName('w')">w</div>
       <div tabindex="-1" [class]="getClassName('e')">e</div>
       <div tabindex="-1" [class]="getClassName('r')">r</div>
       <div tabindex="-1" [class]="getClassName('t')">t</div>
       <div tabindex="-1" [class]="getClassName('y')">y</div>
       <div tabindex="-1" [class]="getClassName('u')">u</div>
       <div tabindex="-1" [class]="getClassName('i')">i</div>
       <div tabindex="-1" [class]="getClassName('o')">o</div>
       <div tabindex="-1" [class]="getClassName('p')">p</div>
    </div>
    <div class="game-keyboard-row">
       <div tabindex="-1" [class]="getClassName('a')">a</div>
       <div tabindex="-1" [class]="getClassName('s')">s</div>
       <div tabindex="-1" [class]="getClassName('d')">d</div>
       <div tabindex="-1" [class]="getClassName('f')">f</div>
       <div tabindex="-1" [class]="getClassName('g')">g</div>
       <div tabindex="-1" [class]="getClassName('h')">h</div>
       <div tabindex="-1" [class]="getClassName('j')">j</div>
       <div tabindex="-1" [class]="getClassName('k')">k</div>
       <div tabindex="-1" [class]="getClassName('l')">l</div>
    </div>
    <div class="game-keyboard-row">
       <div tabindex="-1" class="game-keyboard-button">Enter</div>
       <div tabindex="-1" [class]="getClassName('z')">z</div>
       <div tabindex="-1" [class]="getClassName('x')">x</div>
       <div tabindex="-1" [class]="getClassName('c')">c</div>
       <div tabindex="-1" [class]="getClassName('v')">v</div>
       <div tabindex="-1" [class]="getClassName('b')">b</div>
       <div tabindex="-1" [class]="getClassName('n')">n</div>
       <div tabindex="-1" [class]="getClassName('m')">m</div>
       <div tabindex="-1" class="game-keyboard-button">⌫</div>
    </div>
 </div>