.infinite-scroll-container {
    padding-bottom: 7.5vh;
}

app-timed-button {
    position: fixed;
    left: 95%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 10vh;
    height: 10vh;
}