/* You can add global styles to this file, and also import other style files */

html {
    font-family: 'Poppins';
}
body {
    background-color: hsl(200, 5%, 10%);
    
    color: hsl(0, 0%, 96%);
}

.container {
    width: 90%;
    margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
