*{
    margin: 0 ;
    padding: 0;
    
}

a{
    text-decoration: none;
}


img{
    width:500px
}

.container{
    background-color: rgba(245, 245, 245, 0.377);
    color: rgba(0, 0, 0, 0.678);
    font-family: 30px;
    overflow: hidden;
}


#go-top-button a{
    font-weight: bold;
    font-size: 30px;
    position: fixed;
    color: blue;
    padding: 10px 10px;
    right: 0%;
    bottom: 1%;
    height: 20px;
    width: 20px;
    text-align: center;
}


.nav-bar{
    background-color: #16697a;
    height: 80px;
    border-bottom: solid 3px #0d3e47;
}


.nav-bar #logo{
    padding: 15px 0px 0px 13%;
    font-size: 40px;
}

.nav-bar a{
    float: left;
    color: white;
}



.nav-bar .nav-bar-buttons-div {
    margin-right: 200px;
}

.nav-bar .nav-bar-buttons-div a:hover, #go-top-button a:hover{
    color: #0f0f0f;

}

.nav-bar .nav-buttons{
    font-size: 29px;
    float: right;
    padding: 10px;
}

.content{
    background-color: #e6e6e6;
    
}


.content .container{
    background-color: #e6e6e6;
    padding-top: 20px;
    margin: 0px 40px;
    color: black;
}

.paragraphs{
    border-bottom: solid 2px black;
}

.content .container #first-paragraph h2{
    margin: 30px 0px;

}

.content .container #second-paragraph h2{ 
    margin: 30px 0px;
}

.content .container #third-paragraph h2{ 
    margin: 30px 0px;
}

.content .container .images {
    padding-top: 20px;
}

.content .container .images img{
    
    float: left;
    width: 50%;
    border: black solid 1px;
    padding: 10px;
    box-sizing: border-box;
}



footer{
    border-top: 3px solid #3d2f1d;
    margin-top: 20px;
    background-color: #c5a880;
    text-align: center;
    color: white;
    padding: 10px;
}

